* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.section-one {
    background-image: url(images/headphones_hero_1.jpg);
    background-position: center;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    height: 800px;
    background-size: cover;
}

body .section-one .section-head {
    display: flex;
    justify-content: space-around;
}

body .section-one .section-head img {
    height: 32px;
}

body .section-one .section-head ul {
    display: flex;
    align-items: center;
    gap: 41px;
}

body .section-one .section-head ul li a {
    text-decoration: none;
    color: white;
}

body .section-one .section-head ul li a:hover {
    color: #FF6565;
}

body .section-body {
    margin-top: 320px;
}

