* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.section-one {
    background-image: url(images/headphones_hero_1.jpg);
    background-position: center;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    height: 800px;
    background-size: cover;
}

body .section-one .section-head {
    display: flex;
    justify-content: space-around;
}

body .section-one .section-head img {
    height: 32px;
}

body .section-one .section-head ul {
    display: flex;
    align-items: center;
    gap: 41px;
}

body .section-one .section-head ul li a {
    text-decoration: none;
    color: white;
}

body .section-one .section-head ul li a:hover {
    color: #FF6565;
}

body .section-body {
    display: flex;
    flex-direction: column;
    margin-top: 320px;
    color: white;
    align-items: center;
    text-align: center;
}

body .section-body button {
    height: 44px;
    width: 162px;
    border-radius: 22px;
    border: 0;
    background-color: #FF6565;
    color: white;
    margin-top: 40px;
    margin-bottom: 65px;
}

body .section-body button:hover {
    background-color: #000000;
    box-shadow: #ffffff;
}

body .section-body p {
    margin: auto auto;
}